MONGODB_URI=mongodb://127.0.0.1:27017/tregoindia
JWT_SECRET=change-me
NEXT_PUBLIC_BASE_URL=http://localhost:3000
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_CURRENCY=INR
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
